/*Colores*/
/*Tipos de letra*/
/*sin logo*/ /*Colores*/
/*Tipos de letra*/
* {
  font-family: "Fredoka One", cursive;
}

html {
  background-color: #f8d15f;
}

nav {
  border-color: #f8d15f;
  margin-top: 2vh;
  margin-left: 1vw;
  width: 95.7vw;
  position: fixed;
  border-bottom: 0.4vh solid #f8d15f;
  display: flex;
  padding: 1vw;
  background-color: rgba(134, 23, 32, 0.6666666667);
  justify-content: space-evenly;
}
nav a {
  font-size: 1.5vw;
  text-decoration: none;
  color: #ffffff;
  font-family: "Fredoka One", cursive;
}

#F video {
  width: 100vw;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -101;
}

nav {
  margin-top: -10vh;
}

main {
  margin-top: 15vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
main #Productos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3vw;
}
main #Productos div {
  padding: 1vw;
  background-color: #861720;
}
main #Productos p {
  font-size: 1.5vw;
}
main #Productos b {
  color: #f8d15f;
  font-size: 1.2vw;
}
main #Productos a {
  color: #ffffff;
  text-decoration: none;
}
main #Productos img {
  width: 100%;
}

#carrito {
  width: 80vw;
  height: 20vh;
  padding: 0vw;
  margin-left: 90vw;
  margin-top: -175vh;
  border-radius: 5vw 0 0 5vw;
  -moz-border-radius: 5vw 0 0 5vw;
  -webkit-border-radius: 5vw 0 0 5vw;
  background-color: #861720;
  color: #ffffff;
  text-align: center;
  position: fixed;
  transition: all 0.5s;
}
#carrito img {
  float: left;
  width: 10vw;
}

#carrito:hover {
  margin-left: 20vw;
}

#code {
  width: 100vw;
  height: 50vh;
  margin-left: -95vw;
  margin-top: -200vh;
  border-radius: 1rem;
  background-color: rgba(134, 23, 32, 0.6666666667);
  color: #ffffff;
  text-align: center;
  position: fixed;
  transition: all 0.5s;
}
#code h3 {
  font-size: large;
}
#code img {
  width: 20%;
}

#code:hover {
  background-color: #861720;
  border-radius: 0;
  width: 100vw;
  margin-left: 0;
}
#code:hover h3 {
  font-size: larger;
}

@media screen and (max-width: 500px) {
  #F video {
    width: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -101;
  }
  /*Movil sin logo*/ /*Colores*/
  /*Tipos de letra*/
  * {
    font-family: "Fredoka One", cursive;
  }
  html {
    background-color: #f8d15f;
  }
  nav {
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 3.5vw;
    width: 90vw;
  }
  nav a {
    font-size: 0.8rem;
    font-family: "Fredoka One", cursive;
  }
  nav {
    margin-top: -8vh;
  }
  main {
    margin-top: 10vh;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  main #Productos {
    grid-template-columns: repeat(3, 1fr);
  }
  main #Productos div {
    padding: 2vw;
  }
  main #Productos p {
    font-size: 3.5vw;
  }
  main #Productos b {
    font-size: 3.2vw;
  }
  #carrito {
    width: 80vw;
    height: 10vh;
    padding: 0vw;
    margin-left: 80vw;
    margin-top: -100vh;
    border-radius: 5vw 0 0 5vw;
    -moz-border-radius: 5vw 0 0 5vw;
    -webkit-border-radius: 5vw 0 0 5vw;
    background-color: #861720;
    color: #ffffff;
    text-align: center;
    position: fixed;
    transition: all 0.5s;
  }
  #carrito img {
    float: left;
    width: 20vw;
  }
  #carrito:hover {
    margin-left: 20vw;
  }
  #code {
    width: 100vw;
    height: 35vh;
    margin-left: -90vw;
    margin-top: -115vh;
    border-radius: 1rem;
    background-color: rgba(134, 23, 32, 0.6666666667);
    color: #ffffff;
    text-align: center;
    position: fixed;
    transition: all 0.5s;
  }
  #code h3 {
    font-size: 0;
  }
  #code img {
    width: 50%;
  }
  #code:hover {
    background-color: #861720;
    border-radius: 0;
    width: 100vw;
    margin-left: 0;
  }
  #code:hover h3 {
    font-size: larger;
  }
}/*# sourceMappingURL=Comprar.css.map */