@-webkit-keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@-webkit-keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@-webkit-keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@-webkit-keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@-webkit-keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  @-webkit-keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
  @keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
}
#info {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#info.visible {
  opacity: 1;
  transform: scale(1);
}

#serv {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#serv.visible {
  opacity: 1;
  transform: scale(1);
}

#gale {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#gale.visible {
  opacity: 1;
  transform: scale(1);
}

#cont {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#cont.visible {
  opacity: 1;
  transform: scale(1);
}

/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#logo_load {
  width: 100vw;
  height: 100vh;
  background: #f8d15f;
  position: fixed;
  display: flex;
  z-index: 10000;
}
#logo_load #cargando {
  margin: auto;
  display: block;
}
#logo_load #cargando #circulo {
  width: 7rem;
  -webkit-animation: load 3s ease-in-out infinite;
          animation: load 3s ease-in-out infinite;
}
#logo_load #cargando #circulo img {
  width: 7rem;
}

@media screen and (max-width: 500px) {
  #logo_load #cargando #circulo {
    width: 10rem;
  }
  #logo_load #cargando #circulo img {
    width: 10rem;
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#F {
  width: 250vh;
  height: 3000vh;
  margin-top: -2900vh;
  background-image: url(../temas/diciembre/fondo.png);
  position: fixed;
  z-index: -101;
  -webkit-animation: fondo 120s ease-in-out infinite;
          animation: fondo 120s ease-in-out infinite;
}

@media screen and (max-width: 500px) {
  #F {
    width: 100vh;
  }
}
@-webkit-keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
@keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#BP {
  margin-top: 15vh;
  margin-left: 90vw;
  position: fixed;
  z-index: 150;
}
#BP button {
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.62);
  color: #ffffff;
  font-size: 100%;
  border-radius: 1rem;
  border: 0;
  background-color: #861720;
  transition: all 0.5s;
}
#BP button:hover {
  background-color: #f8d15f;
}

@media screen and (max-width: 500px) {
  #BP {
    margin-top: 10vh;
    margin-left: 80vw;
  }
  #BP button {
    width: 16vw;
    height: 6vh;
  }
  #BP button:active {
    background-color: #f8d15f;
  }
}
@media screen and (max-height: 650px) {
  #BP {
    margin-top: 10vh;
  }
  #BP button {
    width: 16vw;
    height: 7vh;
  }
}
* {
  font-family: "Fredoka One", cursive;
}

.links {
  margin-left: -400vw;
}

main img {
  width: 0vw;
}

#QR {
  text-align: center;
}
#QR a {
  background-color: #ffffff;
  transition: all 0.7s;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1.5rem;
  text-decoration: none;
  color: #f8d15f;
}
#QR a:hover {
  padding: 2rem;
}
#QR img {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25vw;
}

footer {
  text-align: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  /*Colores*/
  /*Tipos de letra*/
  /*Fondos*/
}
@media screen and (max-width: 500px) and (max-width: 500px) {
  #logo_load {
    margin-top: -10vh;
    margin-left: -2vw;
  }
}
@media screen and (max-width: 500px) {
  main img {
    width: 65vw;
    display: block;
    margin-top: -15vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  .links {
    margin-left: 2vw;
  }
  .links iframe {
    margin-top: 3%;
    width: 90%;
  }
  .links a {
    border-radius: 5vw;
    font-size: 1.6rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    transition: all 0.5s;
    color: #ffffff;
    text-decoration: none;
    margin-top: 2vh;
    background-color: #861720;
    display: block;
    text-align: center;
    width: 96vw;
  }
  .links a:hover {
    color: #f8d15f;
  }
}
@media screen and (max-width: 500px) {
  #QR {
    text-align: center;
  }
  #QR a {
    background-color: #ffffff;
    transition: all 0.7s;
    font-size: 0rem;
    border-radius: 0rem;
    padding: 0rem;
    text-decoration: none;
    color: #ffdcdc;
  }
  #QR a:hover {
    padding: 0rem;
  }
  #QR img {
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 0vw;
  }
}/*# sourceMappingURL=index.css.map */