@-webkit-keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@-webkit-keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@-webkit-keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@-webkit-keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@-webkit-keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  @-webkit-keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
  @keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
}
#info {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#info.visible {
  opacity: 1;
  transform: scale(1);
}

#serv {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#serv.visible {
  opacity: 1;
  transform: scale(1);
}

#gale {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#gale.visible {
  opacity: 1;
  transform: scale(1);
}

#cont {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#cont.visible {
  opacity: 1;
  transform: scale(1);
}

/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#logo_load {
  width: 100vw;
  height: 100vh;
  background: #f8d15f;
  position: fixed;
  display: flex;
  z-index: 10000;
}
#logo_load #cargando {
  margin: auto;
  display: block;
}
#logo_load #cargando #circulo {
  width: 6rem;
  height: 6rem;
  -webkit-animation: load 3s ease-in-out infinite;
          animation: load 3s ease-in-out infinite;
}
#logo_load #cargando #circulo img {
  width: 6rem;
}

@media screen and (max-width: 500px) {
  #logo_load #cargando #circulo {
    width: 5rem;
    height: 5rem;
  }
  #logo_load #cargando #circulo img {
    width: 5rem;
  }
}
@media screen and (max-height: 650px) {
  #logo_load #cargando #circulo {
    width: 3rem;
    height: 3rem;
  }
  #logo_load #cargando #circulo img {
    width: 3rem;
  }
}
/*General*/ /*Colores*/
/*Tipos de letra*/
/*Fondos*/
@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  @-webkit-keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
  @keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
}
#info {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#info.visible {
  opacity: 1;
  transform: scale(1);
}

#serv {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#serv.visible {
  opacity: 1;
  transform: scale(1);
}

#gale {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#gale.visible {
  opacity: 1;
  transform: scale(1);
}

#cont {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#cont.visible {
  opacity: 1;
  transform: scale(1);
}

* {
  font-family: "Fredoka One", cursive;
}

#in {
  height: 42vh;
}

body {
  background-color: #f8d15f;
  scroll-behavior: smooth;
}
body header {
  width: 100vw;
  background-color: #861720;
  margin-top: -42vh;
  padding: 1% 0 1% 0;
  position: fixed;
  transition: all 0.5s;
  z-index: 100;
}
body header a {
  display: flex;
}
body header a img {
  width: 10%;
  margin: 1% auto 2% auto;
  box-shadow: 0px 0px 100px -20px rgb(0, 0, 0);
  border-radius: 15%;
  -webkit-animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
          animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
body header ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
body header ul nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body header ul nav li {
  display: flex;
  list-style: none;
}
body header ul nav li button {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: 0;
}
body header ul nav li a {
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
body header ul nav li a .icon_text {
  display: flex;
  align-items: center;
  font-size: 140%;
}
body header.abajo {
  background-color: rgba(0, 0, 0, 0);
  width: 100vw;
  padding: 1%;
  display: flex;
  position: fixed;
  margin-top: -42vh;
  transition: all 0.5s;
}
body header.abajo a {
  width: 5%;
}
body header.abajo a img {
  width: 100%;
  justify-content: flex-start;
}
body header.abajo ul {
  width: 90%;
  justify-content: flex-end;
}
body header.abajo ul nav {
  width: 45%;
  justify-content: space-around;
}
body header.abajo ul nav li {
  align-items: center;
}
body header.abajo ul nav li button {
  font-size: 150%;
}
body header.abajo ul nav li a {
  color: #ffffff;
}
body header.abajo ul nav li a .icon_text {
  display: flex;
  align-items: center;
  font-size: 140%;
}
body #ag {
  position: fixed;
  margin: 5vh 0 0 1vw;
  text-align: center;
  font-size: 0.7rem;
  color: #ffffff;
  transition: all 0.5s;
  z-index: 150;
}
body #ag button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
body #ag button img {
  border: 2px solid #ffffff;
  border-radius: 100%;
  width: 5rem;
}
body #ag.abajo {
  margin: 15vh 0 0 1vw;
}
body footer {
  margin-top: 6vh;
  margin-bottom: 6vh;
  text-align: center;
}
body footer a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  #in {
    height: 20vh;
  }
  body header {
    margin-top: -20vh;
  }
  body header a img {
    margin: 3% auto 2% auto;
    width: 30%;
  }
  body header ul {
    padding: 2% 0;
  }
  body header ul nav li button {
    font-size: 80%;
  }
  body header ul nav li a .icon {
    display: flex;
  }
  body header ul nav li a .icon_text {
    font-size: 80%;
  }
  body header.abajo {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    padding: 1%;
    display: flex;
    position: fixed;
    margin-top: -20vh;
    transition: all 0.5s;
  }
  body header.abajo a {
    width: 10%;
  }
  body header.abajo a img {
    width: 100%;
    justify-content: flex-start;
  }
  body header.abajo ul {
    width: 95%;
    justify-content: center;
  }
  body header.abajo ul nav {
    width: 95%;
    justify-content: space-between;
  }
  body header.abajo ul nav li button {
    font-size: 75%;
  }
  body header.abajo ul nav li a .icon_text {
    font-size: 75%;
  }
  body #ag {
    position: fixed;
    margin: 2vh 0 0 2vw;
    text-align: center;
    font-size: 0.7rem;
    color: #ffffff;
    transition: all 0.5s;
    z-index: 150;
  }
  body #ag button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
  }
  body #ag button img {
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 3.5rem;
  }
  body #ag.abajo {
    margin: 6vh 0 0 2vw;
  }
  body footer {
    margin-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
  }
  body footer a {
    color: #ffffff;
    text-decoration: none;
  }
}
@media screen and (max-height: 640px) {
  #in {
    height: 25vh;
  }
  body header {
    margin-top: -25vh;
  }
  body header ul nav li button {
    font-size: 70%;
  }
  body header ul nav li a .icon {
    font-size: 70%;
  }
  body header ul nav li a .icon_text {
    font-size: 70%;
  }
  body header.abajo {
    margin-top: -25vh;
  }
  body header.abajo a {
    width: 12%;
  }
  body header.abajo ul {
    width: 95%;
  }
  body header.abajo ul nav {
    width: 95%;
  }
  body header.abajo ul nav li button {
    font-size: 65%;
  }
  body header.abajo ul nav li a .icon_text {
    font-size: 65%;
  }
  body #ag {
    margin: 5vh 0 0 2vw;
  }
  body #ag.abajo {
    margin: 10vh 0 0 2vw;
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#BP {
  margin: 5vh 93vw;
  position: fixed;
  transition: all 0.5s;
  z-index: 150;
}
#BP button {
  width: 4.5rem;
  height: 4.5rem;
  color: #ffffff;
  font-size: 100%;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  background-color: #861720;
  transition: all 0.5s;
}
#BP button:active {
  background-color: #f8d15f;
}

#BP.abajo {
  margin: 15vh 93vw;
}

@media screen and (max-width: 500px) {
  #BP {
    margin: 2vh 85vw;
  }
  #BP button {
    width: 3.5rem;
    height: 3.5rem;
  }
  #BP.abajo {
    margin: 6vh 85vw;
  }
}
@media screen and (max-height: 650px) {
  #BP {
    margin: 5vh 80vw;
  }
  #BP.abajo {
    margin: 10vh 80vw;
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#F {
  width: 250vh;
  height: 3000vh;
  margin-top: -2900vh;
  background-image: url(../temas/enero/fondo.png);
  position: fixed;
  z-index: -101;
  -webkit-animation: fondo 120s ease-in-out infinite;
          animation: fondo 120s ease-in-out infinite;
}

@media screen and (max-width: 500px) {
  #F {
    width: 100vh;
  }
}
@-webkit-keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
@keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
/*Modal*/
#modal1 {
  width: 70vw;
  height: 95vh;
  background-color: rgba(134, 23, 32, 0.6666666667);
  border: 0;
  border-radius: 1.5rem;
}
#modal1 button {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  margin-top: -6px;
  margin-left: -6px;
  position: fixed;
  border-radius: 100%;
  font-size: 100%;
  background-color: #f8d15f;
  border: 0;
  z-index: 100;
}
#modal1 #modal1_cont {
  height: 60%;
  background-color: rgba(255, 255, 255, 0);
  overflow: scroll;
}
#modal1 #modal1_cont #Productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#modal1 #modal1_cont #Productos div {
  text-align: center;
  margin: 1vw;
  padding: 1vw;
  background-color: #861720;
}
#modal1 #modal1_cont #Productos p {
  font-size: 1.5vw;
}
#modal1 #modal1_cont #Productos b {
  color: #f8d15f;
  font-size: 1.2vw;
}
#modal1 #modal1_cont #Productos a {
  color: #ffffff;
  text-decoration: none;
}
#modal1 #modal1_cont #Productos img {
  width: 100%;
}
#modal1 #modal1_code {
  width: 100%;
  height: 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  background-color: #861720;
  margin-top: 3%;
}
#modal1 #modal1_code .carrito {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#modal1 #modal1_code #code {
  display: flex;
  align-items: center;
}
#modal1 #modal1_code #code img {
  height: 95%;
  margin: auto;
}

#modal1::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#modal1::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#modal2 {
  width: 95vw;
  height: 90vh;
  background-color: rgba(134, 23, 32, 0.6666666667);
  border-radius: 1rem;
  border: 0;
}
#modal2 button {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  margin-top: -6px;
  margin-left: -6px;
  position: fixed;
  border-radius: 100%;
  font-size: 100%;
  background-color: #f8d15f;
  border: 0;
  z-index: 100;
}
#modal2 #modal2_cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#modal2 #modal2_cont div {
  width: 30%;
  height: 30%;
  padding: 1rem;
  background-color: #861720;
  display: flex;
  align-items: center;
}
#modal2 #modal2_cont div #BB {
  width: 27.2%;
  height: 25.5%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}
#modal2 #modal2_cont div video {
  width: 29%;
  height: 29%;
  position: absolute;
  z-index: 4;
}
#modal2 #modal2_cont div a {
  position: relative;
  font-size: 150%;
  text-decoration: none;
  color: #ffffff;
  z-index: 6;
}
#modal2 #modal2_cont div a #J {
  margin-left: 70%;
  font-family: "Rubik Bubbles", cursive;
}
#modal2 #modal2_cont div a #P {
  margin-left: 50%;
  font-family: "Press Start 2P", cursive;
}

#modal2::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

#modal2::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

/*Contenido*/
#contenedor {
  width: 100vw;
  display: flex;
  position: fixed;
  margin-top: 10vh;
}
#contenedor #text_cont {
  border-radius: 2rem;
  padding: 3rem;
  margin: auto;
  display: flex;
  background-color: #861720;
}
#contenedor #text_cont .text {
  -webkit-animation: Ndis 1s 1;
          animation: Ndis 1s 1;
  margin: 0 1vw;
  color: #ffffff;
  font-size: 5vw;
}
#contenedor #text_cont #n {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
#contenedor #text_cont #a {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#contenedor #text_cont #i {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#contenedor #text_cont #en {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#contenedor #text_cont #es {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#contenedor #text_cont #q {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes Ndis {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes Ndis {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=Ndis.css.map */