@-webkit-keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@-webkit-keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@-webkit-keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@-webkit-keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@-webkit-keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  @-webkit-keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
  @keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
}
#info {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#info.visible {
  opacity: 1;
  transform: scale(1);
}

#serv {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#serv.visible {
  opacity: 1;
  transform: scale(1);
}

#gale {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#gale.visible {
  opacity: 1;
  transform: scale(1);
}

#cont {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#cont.visible {
  opacity: 1;
  transform: scale(1);
}

/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#logo_load {
  width: 100vw;
  height: 100vh;
  background: #f8d15f;
  position: fixed;
  display: flex;
  z-index: 10000;
}
#logo_load #cargando {
  margin: auto;
  display: block;
}
#logo_load #cargando #circulo {
  width: 7rem;
  -webkit-animation: load 3s ease-in-out infinite;
          animation: load 3s ease-in-out infinite;
}
#logo_load #cargando #circulo img {
  width: 7rem;
}

@media screen and (max-width: 500px) {
  #logo_load #cargando #circulo {
    width: 10rem;
  }
  #logo_load #cargando #circulo img {
    width: 10rem;
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
/*General*/ /*Colores*/
/*Tipos de letra*/
/*Fondos*/
@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  @-webkit-keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
  @keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
}
#info {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#info.visible {
  opacity: 1;
  transform: scale(1);
}

#serv {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#serv.visible {
  opacity: 1;
  transform: scale(1);
}

#gale {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#gale.visible {
  opacity: 1;
  transform: scale(1);
}

#cont {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#cont.visible {
  opacity: 1;
  transform: scale(1);
}

* {
  font-family: "Fredoka One", cursive;
}

html {
  background-color: #f8d15f;
}

#in {
  height: 10vh;
}

main img {
  width: 23vw;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
          animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

nav {
  width: 95%;
  display: flex;
  margin-left: 1.5vw;
  margin-right: 2.5vw;
  border-color: #f8d15f;
  margin-top: -50vh;
  position: fixed;
  box-shadow: 0px 0px 70px 0px rgb(255, 255, 255);
  padding: 1vw;
  background-color: rgba(134, 23, 32, 0.6666666667);
  justify-content: space-evenly;
  z-index: 150;
}
nav a {
  font-size: 1vw;
  text-decoration: none;
  color: #ffffff;
  font-family: "Fredoka One", cursive;
}

footer {
  margin-top: 6vh;
  margin-bottom: 6vh;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 500px) {
  * {
    font-family: "Fredoka One", cursive;
  }
  html {
    background-color: #f8d15f;
  }
  main img {
    width: 55vw;
    margin-top: 0vw;
    padding: 0.1rem;
  }
  nav {
    width: 90%;
    margin-top: -31vh;
    padding: 3.5vw;
  }
  nav a {
    font-size: 2.7vw;
    font-family: "Fredoka One", cursive;
  }
  footer {
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: #ffffff;
  }
}
@media screen and (max-height: 650px) {
  main img {
    margin-top: 8vh;
  }
  nav {
    margin-top: -42vh;
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#F {
  width: 250vh;
  height: 3000vh;
  margin-top: -2900vh;
  background-image: url(../temas/diciembre/fondo.png);
  position: fixed;
  z-index: -101;
  -webkit-animation: fondo 120s ease-in-out infinite;
          animation: fondo 120s ease-in-out infinite;
}

@media screen and (max-width: 500px) {
  #F {
    width: 100vh;
  }
}
@-webkit-keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
@keyframes fondo {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(2900vh);
  }
}
/*Colores*/
/*Tipos de letra*/
/*Fondos*/
#BP {
  margin-top: 15vh;
  margin-left: 90vw;
  position: fixed;
  z-index: 150;
}
#BP button {
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.62);
  color: #ffffff;
  font-size: 100%;
  border-radius: 1rem;
  border: 0;
  background-color: #861720;
  transition: all 0.5s;
}
#BP button:hover {
  background-color: #f8d15f;
}

@media screen and (max-width: 500px) {
  #BP {
    margin-top: 10vh;
    margin-left: 80vw;
  }
  #BP button {
    width: 16vw;
    height: 6vh;
  }
  #BP button:active {
    background-color: #f8d15f;
  }
}
@media screen and (max-height: 650px) {
  #BP {
    margin-top: 10vh;
  }
  #BP button {
    width: 16vw;
    height: 7vh;
  }
}
@keyframes load {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ag_info_input {
  0% {
    margin-left: -300vw;
  }
  50% {
    margin-left: 15vw;
  }
  100% {
    margin-left: 6.7vw;
  }
}
@keyframes modal1_h1 {
  0% {
    margin-left: 300vw;
  }
  50% {
    margin-left: -6vw;
  }
  100% {
    margin-left: 0vw;
  }
}
@keyframes int_img {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 6vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 500px) {
  @-webkit-keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
  @keyframes ag_info_input {
    0% {
      margin-left: -300vw;
    }
    50% {
      margin-left: 6vw;
    }
    100% {
      margin-left: 0vw;
    }
  }
}
#info {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#info.visible {
  opacity: 1;
  transform: scale(1);
}

#serv {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#serv.visible {
  opacity: 1;
  transform: scale(1);
}

#gale {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#gale.visible {
  opacity: 1;
  transform: scale(1);
}

#cont {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.3s ease-in-out all;
}

#cont.visible {
  opacity: 1;
  transform: scale(1);
}

/*Modal*/
#modal1 {
  width: 70vw;
  height: 95vh;
  background-color: rgba(134, 23, 32, 0.6666666667);
  border: 0;
  border-radius: 1.5rem;
}
#modal1 button {
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  margin-top: -6px;
  margin-left: -6px;
  position: fixed;
  border-radius: 100%;
  font-size: 100%;
  background-color: #f8d15f;
  border: 0;
  z-index: 100;
}
#modal1 #modal1_cont {
  height: 60%;
  background-color: rgba(255, 255, 255, 0);
  overflow: scroll;
}
#modal1 #modal1_cont #Productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#modal1 #modal1_cont #Productos div {
  text-align: center;
  margin: 1vw;
  padding: 1vw;
  background-color: #861720;
}
#modal1 #modal1_cont #Productos p {
  font-size: 1.5vw;
}
#modal1 #modal1_cont #Productos b {
  color: #f8d15f;
  font-size: 1.2vw;
}
#modal1 #modal1_cont #Productos a {
  color: #ffffff;
  text-decoration: none;
}
#modal1 #modal1_cont #Productos img {
  width: 100%;
}
#modal1 #modal1_code {
  width: 100%;
  height: 35%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  background-color: #861720;
  margin-top: 3%;
}
#modal1 #modal1_code .carrito {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#modal1 #modal1_code #code {
  display: flex;
  align-items: center;
}
#modal1 #modal1_code #code img {
  height: 95%;
  margin: auto;
}

#modal1::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#modal1::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

/*Fixed*/
#ag {
  position: fixed;
  margin: 15vh 0 0 2vw;
  text-align: center;
  font-size: 0.7rem;
  color: #ffffff;
  z-index: 150;
}
#ag button {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}
#ag button img {
  border: 2px solid #ffffff;
  border-radius: 100%;
  width: 5rem;
}

/*Contenido*/
#int {
  margin: 0 1rem;
  text-decoration: none;
  color: #ffffff;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #861720;
  padding: 1vw;
}
#int video {
  width: 100%;
  position: absolute;
  height: inherit;
}
#int img {
  width: 15rem;
  -webkit-animation: int_img 3s ease-in-out infinite;
          animation: int_img 3s ease-in-out infinite;
}

#info {
  margin: 0 1rem;
  background-color: #861720;
  text-align: center;
  padding: 1rem;
  height: 25rem;
  color: #ffffff;
  font-size: 1.7rem;
}

#serv {
  margin: 0 1rem;
  height: 25rem;
  text-align: center;
  background-color: #861720;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2vw;
}
#serv div {
  margin: 0 2vw 0 1vw;
}
#serv a {
  text-decoration: none;
  color: #ffffff;
}
#serv h2 {
  grid-column: 1/5;
  color: #ffffff;
}
#serv img {
  width: 70%;
  border-radius: 20%;
  padding: 0.3vw;
  border: 0.3rem solid #ffffff;
}

#gale {
  position: relative;
  margin: 0 1rem;
  font-size: 2vw;
  padding: 2vw;
  text-decoration: none;
  color: #ffffff;
  background-color: #861720;
  height: 25rem;
}
#gale #gale_cont {
  width: 100%;
  position: absolute;
  top: 20%;
  text-align: center;
}
#gale h2 {
  margin-bottom: 7vh;
}
#gale a {
  transition: all 0.5s;
  text-decoration: none;
  color: #ffffff;
  background-color: #f8d15f;
  padding: 1.5rem;
  border-radius: 2rem;
}
#gale a:hover {
  padding: 1.7rem;
}

#cont {
  margin: 0 1rem;
  font-size: larger;
  padding: 1vh;
  text-decoration: none;
  color: #ffffff;
  background-color: #861720;
  height: 25rem;
  text-align: center;
}
#cont #cont_cont {
  width: 100%;
  position: absolute;
  top: 5%;
  left: -1%;
  text-align: center;
}
#cont a {
  color: #ffffff;
  text-decoration: none;
}
#cont .wa img {
  width: 20%;
  border-radius: 10vw;
}

#redes {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2862745098);
}
#redes a {
  margin: 0 2vw;
  font-size: 4vw;
  color: #ffffff;
  text-decoration: none;
}

footer {
  text-align: center;
  margin: 6vh 0;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

#s1, #s2, #s3, #s4 {
  height: 10vh;
}

@media screen and (max-width: 500px) {
  #modal1 {
    width: 85vw;
    height: 80vh;
  }
  #modal1 #modal1_cont {
    height: 75%;
  }
  #modal1 #modal1_cont #Productos {
    grid-template-columns: repeat(3, 1fr);
  }
  #modal1 #modal1_cont #Productos div {
    padding: 2vw;
  }
  #modal1 #modal1_cont #Productos p {
    font-size: 3.5vw;
  }
  #modal1 #modal1_cont #Productos b {
    font-size: 3.2vw;
  }
  #modal1 #modal1_code {
    width: 100%;
    height: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    background-color: #861720;
    margin-top: 3%;
  }
  #modal1 #modal1_code .carrito {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #modal1 #modal1_code #code {
    grid-column: 2/4;
  }
  #modal1 #modal1_code #code img,
#modal1 #modal1_code #code canvas {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
  #ag {
    position: fixed;
    margin-top: 10vh;
    text-align: center;
    font-size: 0.7rem;
  }
  #ag button {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
  }
  #ag button img {
    width: 15vw;
  }
  #int {
    height: 20rem;
  }
  #int video {
    width: 85%;
  }
  #int img {
    width: 10rem;
  }
  #info {
    font-size: 1.1rem;
    height: 35rem;
  }
  #info #info_cont {
    margin-top: 35%;
  }
  #serv {
    height: 35rem;
    grid-template-columns: repeat(2, 1fr);
  }
  #serv a {
    font-size: 0.9rem;
  }
  #serv h2 {
    grid-column: 1/3;
  }
  #serv img {
    width: 100%;
    padding: 0.5vw;
    border: 0.2rem solid #ffffff;
  }
  #gale {
    font-size: 5vw;
    height: 35rem;
  }
  #gale #gale_cont {
    left: 0%;
    top: 30%;
  }
  #cont {
    height: 35rem;
  }
  #cont #cont_cont {
    top: 20%;
    left: -1%;
  }
  #cont .wa img {
    width: 60%;
    border-radius: 10vw;
  }
  #redes a {
    font-size: 12vw;
  }
  #s1, #s2, #s3, #s4 {
    height: 8vh;
  }
}
@media screen and (max-height: 650px) {
  #modal1 {
    height: 90vh;
  }
  #ag {
    margin-top: 10vh;
  }
  #int {
    height: 12rem;
  }
  #int img {
    width: 40vw;
  }
  #info {
    font-size: 1.1rem;
  }
  #cont {
    font-size: 1.1rem;
  }
  #cont img {
    width: 70%;
  }
}/*# sourceMappingURL=Web.css.map */