//animaciones globales
@keyframes load {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes ag_info_input {
    0% {
        margin-left: -300vw;
    }
    50% {
        margin-left: 15vw;
    }
    100% {
        margin-left: 6.7vw;
    }
}
@keyframes modal1_h1 {
    0% {
        margin-left: 300vw;
    }
    50% {
        margin-left: -6vw;
    }
    100% {
        margin-left: 0vw;
    }
}
@keyframes int_img {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}
@keyframes logo {
    0% {
        transform: translate(0, -100vh);
    }
    50% {
        transform: translate(0, 6vh);
    }
    100% {
        transform:translate(0, 0vh);
    }
}
@keyframes logo_palpitar {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); 
    }
}
@media screen and (max-width: 500px) {
    @keyframes ag_info_input {
        0% {
            margin-left: -300vw;
        }
        50% {
            margin-left: 6vw;
        }
        100% {
            margin-left: 0vw;
        }
    }
}

//animaciones al scrollear
@mixin vis {
    opacity: 1;
    transform: scale(1);
}
@mixin novis {
    opacity: 0;
    transform: scale(0.9);
    transition: 0.3s ease-in-out all;
}
#info {
    @include novis;
}
#info.visible {
    @include vis;
}
#serv {
    @include novis;
}
#serv.visible {
    @include vis;
}
#gale {
    @include novis;
}
#gale.visible {
    @include vis;
}
#cont {
    @include novis;
}
#cont.visible {
    @include vis;
}