/*General*/
@import "variables";
@import "animaciones";
*{
    font-family: $Letra;
}
html {
    background-color: $Primario;
}
#in {
    height: 10vh;
}
main img {
    width: 23vw;
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
    animation-delay: 2s;
}
nav {
    width: 95%;
    display: flex;
    margin-left: 1.5vw;
    margin-right: 2.5vw;
    border-color: $Primario;
    margin-top: -50vh;
    position: fixed;
    box-shadow: 0px 0px 70px 0px rgba(255,255,255,1);
    padding: 1vw;
    background-color: $Rojot;
    justify-content: space-evenly;
    z-index: 150;
    a {
        font-size: 1vw;
        text-decoration: none;
        color: $Blanco;
        font-family: $Letra;
    }
    
}
footer {
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: $Blanco;
    text-align: center;
}
@media screen and (max-width: 500px) {
    *{
    font-family: $Letra;
}
html {
    background-color: $Primario;
}
main img {
    width: 55vw;
    margin-top: 0vw;
    padding: 0.1rem;
}
nav {
    width: 90%;
    margin-top: -31vh;
    padding: 3.5vw;

    a {
        font-size: 2.7vw;
        font-family: $Letra;
    }
}
footer {
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: $Blanco
}
}
@media screen and (max-height: 650px) {
main img {
    margin-top: 8vh;
}
    nav {
        margin-top: -42vh;
    }
}