/*sin logo*/
@import "variables";
*{
    font-family: $Letra;
}
html {
    background-color: $Primario;
}
nav {
    border-color: $Primario;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 95.7vw;
    position: fixed;
    border-bottom: 0.4vh solid $Primario;
    display: flex;
    padding: 1vw;
    background-color: $Rojot;
    justify-content: space-evenly;
    a {
        font-size: 1.5vw;
        text-decoration: none;
        color: $Blanco;
        font-family: $Letra;
    }
}
footer {
    margin-top: 6vh;
    margin-bottom: 6vh;
    color: $Blanco;
    text-align: center;
}
@media screen and (max-width: 500px) {
    *{
    font-family: $Letra;
}
html {
    background-color: $Primario;
}

nav {
    margin-top: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 3.5vw;
    width: 90vw;

    a {
        font-size: 3vw;
        font-family: $Letra;
    }
}
@media screen and (max-height: 650px) {
    nav {
        margin-top: -36vh;
    }
}
}