/*sin logo*/
@import "variables";
*{
    font-family: $Letra;
}
html {
    background-color: $Primario;
}

nav {
    border-color: $Primario;
    margin-top: 2vh;
    margin-left: 1vw;
    width: 95.7vw;
    position: fixed;
    border-bottom: 0.4vh solid $Primario;
    display: flex;
    padding: 1vw;
    background-color: $Rojot;
    justify-content: space-evenly;
    a {
        font-size: 1.5vw;
        text-decoration: none;
        color: $Blanco;
        font-family: $Letra;
    }
}