@import "variables";
#BP {
    margin-top: 15vh;
    margin-left: 90vw;
    position: fixed;
    z-index: 150;
    
    button {
        width: 5rem;
        height: 5rem;
        -webkit-box-shadow: 0px 0px 60px 10px rgba(255,255,255,0.62);
        -moz-box-shadow: 0px 0px 60px 10px rgba(255,255,255,0.62);
        box-shadow: 0px 0px 60px 10px rgba(255,255,255,0.62);
        color: $Blanco;
        font-size: 100%;
        border-radius: 1rem;
        border: 0;
        background-color: $Secundario;
        transition: all 0.5s;
    }
    button:hover {
        background-color: $Primario;
    }
}
@media screen and (max-width: 500px) {
#BP {
    margin-top: 10vh;
    margin-left: 80vw;
    
    button {
        width: 16vw;
        height: 6vh;
    }
    button:active {
        background-color: $Primario;
    }
}
}
@media screen and (max-height: 650px) {
    #BP {
        margin-top: 10vh;

        button {
            width: 16vw;
            height: 7vh;
        }
    }
}