@import "variables";
#BP {
    margin: 5vh 93vw;
    position: fixed;
    transition: all 0.5s;
    z-index: 150;
    
    button {
        width: 4.5rem;
        height: 4.5rem;
        color: $Blanco;
        font-size: 100%;
        border-radius: 1rem;
        border: 1px solid #ffffff;
        background-color: $Secundario;
        transition: all 0.5s;
    }
    button:active {
        background-color: $Primario;
    }
}
#BP.abajo {
    margin: 15vh 93vw;
}
@media screen and (max-width: 500px) {
#BP {
    margin: 2vh 85vw;
    
    button {
        width: 3.5rem;
        height: 3.5rem;
    }
}
#BP.abajo {
    margin: 6vh 85vw;
}
}
@media screen and (max-height: 650px) {
    #BP {
        margin: 5vh 80vw;
    }
    #BP.abajo {
    margin: 10vh 80vw;
}
}