/*Colores*/
$Rosat: #ffc3c3dc;
$Rosaf: #ffc3c3;
$Rosa: #ffdcdc;
$Blanco: #ffffff;
$Negro: #0d0d0d;
$Gris: #bebebe;
$Dorado: #D4AF37;
$Rojot: #861720aa;
$Rojo: #861720;
$Amarillo: #f4d62a;

$Primario: $Amarillo;
$Secundario: $Rojo;

/*Tipos de letra*/
$Fredoka: 'Fredoka One', cursive;

$Letra: $Fredoka;