/*Colores*/
$Rosat: #ffc3c3dc;
$Rosaf: #ffc3c3;
$Rosa: #ffdcdc;
$Blanco: #ffffff;
$Negro: #0d0d0d;
$Gris: #bebebe;
$Dorado: #D4AF37;
$Rojot: #861720aa;
$Rojo: #861720;
$Amarillo: #f4d62a;
$Amarillo2: #f8d15f;
$Transparente: rgba(255, 255, 255, 0);

$Primario: $Amarillo2;
$Secundario: $Rojo;

/*Tipos de letra*/
$Nunito:  'Nunito Sans', sans-serif;
$Fredoka: 'Fredoka One', cursive;
$Rubik80s: 'Rubik 80s Fade', cursive;
$Lobster: 'Lobster', cursive;
$Aboreto: 'Aboreto', cursive;
$Contrail: 'Contrail One', cursive;
$Nabla: 'Nabla', cursive;
$Sniglet: 'Sniglet', cursive;
$Barcode: 'Libre Barcode 39', cursive;
$Start: 'Press Start 2P', cursive;
$Rubukbubbles: 'Rubik Bubbles', cursive;

$Letra: $Fredoka;

/*Fondos*/
$Fondo: url(../temas/diciembre/fondo.png);