@import "variables";
@import "nav-sl";
@import "fondo";
nav {
    margin-top: -10vh;
}
main {
    margin-top: 15vh;
    margin-left: 1vw;
    margin-right: 1vw;
    #Productos {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 3vw;

        div {
            padding: 1vw;
            background-color: $Secundario;
        }
        p {
            font-size: 1.5vw;
        }
        b {
            color: $Primario;
            font-size: 1.2vw;
        }
        a {
            color: $Blanco;
            text-decoration: none;
        }
        img {
            width: 100%;
        }
    }
}
    #carrito {
        width: 30vw;
        height: 80vh;
        margin-top: -100vh;
        border-radius: 1rem;
        background-color: $Rojot;
        color: $Blanco;
        text-align: center;
        position: fixed;
        transition: all 0.5s;

    h3 {
        font-size: 0;
    }
    img {
        width: 50%;
    }
    }
    #carrito:active {
         background-color: $Rojo;
         border-radius: 0;
         width: 100vw;

    h3 {
        font-size: larger;
    }
    }
    #code {
        width: 100vw;
        height: 35vh;
        margin-left: -95vw;
        margin-top: -175vh;
        border-radius: 1rem;
        background-color: $Rojot;
        color: $Blanco;
        text-align: center;
        position: fixed;
        transition: all 0.5s;

        h3 {
            font-size: large;
        }
        img {
            width: 50%;
        }
    }
    #code:hover {

        background-color: $Rojo;
        border-radius: 0;
        width: 100vw;
        margin-left: 0;

        h3 {
            font-size: larger;
        }
    }
@media screen and (max-width: 500px){
    @import "fondo-m";
    @import "nav-msl";
    nav {
        margin-top: -8vh;
    }
    main {
        margin-top: 10vh;
        margin-left: 1vw;
        margin-right: 1vw;
    #Productos {
        grid-template-columns: repeat(3,1fr);

        div {
            padding: 2vw;
        }
        p {
            font-size: 3.5vw;
        }
        b {
            font-size: 3.2vw;
        }
    }
    }
    #carrito {
        width: 50vw;
        height: 90vh;
        padding: 2vw;
        margin-left: 80vw;
        margin-top: -70vh;
        border-radius: 1rem 0px 0px 1rem;
        -moz-border-radius: 1rem 0px 0px 1rem;
        -webkit-border-radius: 1rem 0px 0px 1rem;
        background-color: $Rojot;
        color: $Blanco;
        text-align: center;
        position: fixed;
        transition: all 0.5s;

        img {
            float: left;
            width: 3rem;
        }
    }
    #carrito:hover {
        margin-left: 50vw;
        margin-top: -153vh;
        border-radius: 1rem 0px 0px 1rem;
        -moz-border-radius: 1rem 0px 0px 1rem;
        -webkit-border-radius: 1rem 0px 0px 1rem;
        background-color: $Rojo;
    }
    #code {
        width: 100vw;
        height: 35vh;
        margin-left: -90vw;
        margin-top: -100vh;
        border-radius: 1rem;
        background-color: $Rojot;
        color: $Blanco;
        text-align: center;
        position: fixed;
        transition: all 0.5s;

        h3 {
            font-size: 0;
        }
        img {
            width: 50%;
        }
    }
    #code:hover {
        background-color: $Rojo;
        border-radius: 0;
        width: 100vw;
        margin-left: 0;

        h3 {
            font-size: larger;
        }
    }
}