@import "nav";
@import "variables";
@import "fondo";
html {
    font-family: $Fedoka;
}
#galeria {
    background-color: $Rojo;
    margin: 2vw;
    margin-bottom: 5vh;
    text-align: center;
    img {
        width: 15vw;
    }
}
@media screen and (max-width: 500px) {
    @import "nav-m";
    main img {
        width: 60vw;
        margin-top: 0vw;
    }
    #int {
        height: 50vh;

        img {
            width: 40vw;
        }
    }
    #galeria {
        margin-bottom: 5vh;
        text-align: center;

        img {
            width: 30vw;
        }
    }
}