@import "carga";
@import "nav";
@import "variables";
@import "fondo";
@import "playvid";

#galeria {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 0 1.5vw;
    .img {
        margin: 0 0.5vw;
    }
    h3 {
        font-size: larger;
    }
    p {
        font-size: medium;
    }
}
@media screen and (max-width: 500px) {
    #galeria {
        grid-template-columns: repeat(2,1fr);
        .img {
            margin: 0 1vw;
        }
    }
}