@import "carga";
@import "variables";
@import "fondo";
@import "playvid";
* {
    font-family: $Letra;
}
.links {
    margin-left: -400vw;
}
main img {
    width: 0vw;
}
#QR {
    text-align: center;
    a{
        background-color: $Blanco;
        transition: all 0.7s;
        font-size: 1.5rem;
        border-radius: 2rem;
        padding: 1.5rem;
        text-decoration: none;
        color: $Primario;
    }
    a:hover {
        padding: 2rem;
    }
    img {
        margin-top: 10vh;
        margin-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 25vw;
    }
        
}
footer {
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    a {
        color: $Blanco;
        text-decoration: none;
    }
}
@media screen and (max-width: 500px) {
    @import "carga-sn";
    main {
        img {
            width: 65vw;
            display: block;
            margin-top: -15vh;
            margin-bottom: 5vh;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .links {
        margin-left: 2vw;
        iframe {
            margin-top: 3%;
            width: 90%;
        }
        a {
            border-radius: 5vw;
            font-size: 1.6rem;
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            transition: all 0.5s;
            color: $Blanco;
            text-decoration: none;
            margin-top: 2vh;
            background-color: $Secundario;
            display: block;
            text-align: center;
            width: 96vw;
        }
        a:hover {
            color: $Primario;
        }
    }
    #QR {
        text-align: center;
        a{
            background-color: $Blanco;
            transition: all 0.7s;
            font-size: 0rem;
            border-radius: 0rem;
            padding: 0rem;
            text-decoration: none;
            color: $Rosa;
        }
        a:hover {
            padding: 0rem;
        }
        img {
            margin-top: 10vh;
            margin-bottom: 5vh;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 0vw;
        }
            
    }
}