@import "carga";
@import "variables";
@import "nav";
@import "fondo";
@import "playvid";

    #PR {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);

        div {
            padding: 1vw;
            background-color: $Secundario;
        }
        h2 {
            color: $Primario;
        }
        b {
            color: $Primario;
            font-size: 1.2vw;
        }
        p {
            color: $Blanco;
            font-size: 1.5vw;
        }
        img {
            width: 75%;
            border-radius: 20%;
            padding: 0.5vw;
            border: 0.2rem solid $Blanco;
        }
    }
    footer {
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    a {
        color: $Blanco;
        text-decoration: none;
    }
}
@media screen and (max-width: 500px) {
    #PR {
        margin: 2.5vw;
        grid-template-columns: repeat(2,1fr);

        div {
            padding: 1vw;
            background-color: $Secundario;
        }
        h2 {
            font-size: 4vw;
        }
        p {
            font-size: 2.5vw;
        }
        b {
            font-size: 3vw;
        }
    }
}