@import "variables";    
@import "nav";
@import "fondo";
#PR {
    font-size: 1rem;
    background-color: $Secundario;
    padding: 1rem;
    height: 100vh;
    text-align: center;
    display: flex;
    color: $Blanco;

    img {
        width: 15vw;
        padding: 0.4rem;
        border: 0.4rem solid $Blanco;
        border-radius: 10rem;
    }
    .P {
        margin-top: 0vh;
        margin-left: 5vw;
    }
    .left {
        margin-left: 0vw;
        float: left;
    }
    .right {
        margin-right: 0vw;
        float: right;
    }
}
@media screen and (max-width: 500px) {
    @import "fondo-m";
    @import "nav-m";
    #PR {
        display: block;
        margin: 3vw;
        font-size: 1.3rem;
        background-color: $Secundario;
        padding: 1rem;
        height: 300vh;
        text-align: center;
        color: $Blanco;

        img {
            margin-top: 2vh;
            padding: 0.4rem;
            border: 0.3rem solid $Blanco;
            border-radius: 10rem;
            width: 35vw;
        }
        .P {
            margin-top: 5vh;
        }
        .left {
        margin-left: 0vw;
        float: none;
        }
        .right {
        margin-right: 0vw;
        float: none;
        }
    }
}