@import "carga";
@import "variables";
@import "nav";
@import "fondo";
@import "playvid";
@import "animaciones";
/*Modal*/
#modal1 {
    width: 70vw;
    height: 95vh;
    background-color: $Rojot;
    border: 0;
    border-radius: 1.5rem;
    button {
        width: 2rem;
        height: 2rem;
        color: $Blanco;
        margin-top: -6px;
        margin-left: -6px;
        position: fixed;
        border-radius: 100%;
        font-size: 100%;
        background-color: $Primario;
        border: 0;
        z-index: 100;
    }
    #modal1_cont {
        height: 60%;
        background-color: $Transparente;
        overflow: scroll;
        #Productos {
            display: grid;
            grid-template-columns: repeat(4,1fr);
    
            div {
                text-align: center;
                margin: 1vw;
                padding: 1vw;
                background-color: $Secundario;
            }
            p {
                font-size: 1.5vw;
            }
            b {
                color: $Primario;
                font-size: 1.2vw;
            }
            a {
                color: $Blanco;
                text-decoration: none;
            }
            img {
                width: 100%;
            }
        }
    }
    #modal1_code {
        width: 100%;
        height: 35%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100%;
        background-color: $Rojo;
        margin-top: 3%;

        .carrito {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        #code {
            display: flex;
            align-items: center;
            img {
                height: 95%;
                margin: auto;
            }
        }

    }
}
#modal1::backdrop {
    background-color:rgba(0, 0, 0, 0.700);
}
#modal2 {
    width: 95vw;
    height: 90vh;
    background-color: $Rojot;
    border-radius: 1rem;
    border: 0;
    button {
        width: 2rem;
        height: 2rem;
        color: $Blanco;
        margin-top: -6px;
        margin-left: -6px;
        position: fixed;
        border-radius: 100%;
        font-size: 100%;
        background-color: $Primario;
        border: 0;
        z-index: 100;
    }
    #modal2_cont {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        div {
            width: 30%;
            height: 30%;
            padding: 1rem;
            background-color: $Rojo;
            display: flex;
            align-items: center;
            #BB {
                width: 27.2%;
                height: 25.5%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.700);
                z-index: 5;
            }
            video {
                width: 29%;
                height: 29%;
                position: absolute;
                z-index: 4;
            }
            a {
                position: relative;
                font-size: 150%;
                text-decoration: none;
                color: $Blanco;
                z-index: 6;
                #J {
                    margin-left: 70%;
                    font-family: $Rubukbubbles;
                }
                #P {
                    margin-left: 50%;
                    font-family: $Start;
                }
            }
        }
    }
    
}
#modal2::backdrop {
    background-color:rgba(0, 0, 0, 0.800);
}
/*Contenido*/
#int {
    margin: 0 1rem;
    text-decoration: none;
    color: $Blanco;
    height: 25rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $Secundario;
    padding: 1vw;

    video {
        width: 100%;
        position: absolute;
        height: inherit;
    }
    img {
        width: 15rem;
        animation: int_img 3s ease-in-out infinite;
    }
}
#info {
    height: 25rem;
    background-color: $Secundario;
    text-align: center;
    margin: 0 1rem;
    padding: 1rem;
    color: $Blanco;
    h1 {
        margin-top: 4%;
        font-size: 200%;
    }
        #info_cont{
            font-size: 140%;
            display: flex;
            margin: 0 auto;
            width: 50%;
        }
}
#serv {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 25rem;
    background-color: $Secundario;
    padding: 2.5vw;
    margin: 0 1rem;
    text-align: center;

    div {
        margin: 0 2vw 0 1vw;
    }
    a {
        text-decoration: none;
        color: $Blanco;
    }
    h2 {
        font-size: 200%;
        grid-column: 1/5;
        color: $Blanco;
    }
    img {
        width: 100%;
        border-radius: 20%;
        padding: 0.3vw;
        border: 0.3rem solid $Blanco;
    }
}
#gale {
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    color: $Blanco;
    background-color: $Secundario;
    height: 25rem;

    #gale_cont {
        width: 100%;
        position: absolute;
        top: 25%;
        text-align: center;
    }
    h2 {
        font-size: 230%;
        margin-bottom: 3%;
    }
    a {
        font-size: 100%;
        transition: all 0.5s;
        text-decoration: none;
        color: $Blanco;
        background-color: $Primario;
        padding: 1.5rem;
        border-radius: 2rem;
    }
    a:hover {
        padding: 1.7rem;
    }
}
#cont {
    margin: 0 1rem;
    font-size: larger;
    padding: 1vh;
    text-decoration: none;
    color: $Blanco;
    background-color: $Secundario;
    height: 25rem;
    text-align: center;

    #cont_cont {
        width: 100%;
        position: absolute;
        top: 5%;
        left: -1%;
        text-align: center;
    }
    a {
        color: $Blanco;
        text-decoration: none;
    }
    .wa img {
        width: 20%;
        border-radius: 10vw;
    }
}
#redes {
    text-align: center;
    background-color: #ffffff49;
    a {
        margin: 0 2vw;
        font-size: 3vw;
        color: $Blanco;
        text-decoration: none;
    }
}
footer {
    text-align: center;
    margin: 6vh 0;
    a {
        color: $Blanco;
        text-decoration: none;
    }
}
#s1, #s2, #s3, #s4 {
    height: 10vh;
}
@media screen and (max-width: 500px) {
    #modal1 {
    width: 85vw;
    height: 80vh;
    #modal1_cont {
        height: 75%;
        #Productos {
            grid-template-columns: repeat(3,1fr);
    
            div {
                padding: 2vw;
            }
            p {
                font-size: 3.5vw;
            }
            b {
                font-size: 3.2vw;
            }
        }
    }
    #modal1_code {
        width: 100%;
        height: 25%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100%;
        background-color: $Rojo;
        margin-top: 3%;

        .carrito {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        #code {
            grid-column: 2 / 4;
            img,
            canvas {
                width: 80%;
                height: 80%;
                margin: 0 auto;
            }
        }
    }
    }
    #modal2 {
    width: 85vw;
    height: 60vh;
    #modal2_cont {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        div {
            width: 90%;
            height: 40%;
            padding: 1rem;
            #BB {
                width: 60%;
                height: 16%;
                position: absolute;
            }
            video {
                width: 68%;
            }
            a {
                font-size: 100%;
                #J {
                    margin-left: 45%;
                }
                #P {
                    margin-left: 30%;
                }
            }
        }
    }
    
    }
    #ag {
        position: fixed;
        margin-top: 10vh;
        text-align: center;
        font-size: 0.7rem;
        button {
            background-color: $Transparente;
            border: 0; 
            img {
                width: 15vw;
            }
        }
    }
    #int {
        height: 20rem;

    video {
        width: 85%;
    }
    img {
        width: 10rem;
    }
    }
    #info {
    height: 35rem;
    padding: 0.5rem;
    h1 {
        margin-top: 30%;
    }
        #info_cont{
            font-size: 100%;
            width: 80%;
        }
    }
    #serv {
        height: 35rem;
        grid-template-columns: repeat(2,1fr);

        a {
            font-size: 0.9rem;
        }
        h2 {
            grid-column: 1/3;
        }
        img {
            width: 100%;
            padding: 0.5vw;
            border: 0.2rem solid $Blanco;
        }
    }
    #gale {
        height: 35rem;

        #gale_cont {
            top: 30%;
        }
        h2 {
            margin-bottom: 10%;
        }
    }
    #cont {
    height: 35rem;

    #cont_cont {
        top: 20%;
        left: -1%;
    }
    .wa img {
        width: 60%;
        border-radius: 10vw;
    }
    }
    #redes {
    a {
        font-size: 12vw;
    }
    } 
    #s1, #s2, #s3, #s4 {
        height: 8vh;
    }
}
@media screen and (max-height: 650px) {
    #modal1 {
        height: 90vh;
    }
    #ag {
        margin-top: 10vh;
    }
    #int {
        height: 12rem;
        img {
            width: 40vw;
        }
    }
    #info {
        font-size: 1.1rem;
    }
    #cont {
        font-size: 1.1rem;
        img {
            width: 70%;
        }
    }
}