@import "carga";
@import "variables";
@import "nav";
@import "fondo";
@import "playvid";
@import "animaciones";
/*Modal*/
#modal1 {
    width: 70vw;
    height: 95vh;
    background-color: $Rojot;
    border: 0;
    border-radius: 1.5rem;
    button {
        width: 2rem;
        height: 2rem;
        color: $Blanco;
        margin-top: -6px;
        margin-left: -6px;
        position: fixed;
        border-radius: 100%;
        font-size: 100%;
        background-color: $Primario;
        border: 0;
        z-index: 100;
    }
    #modal1_cont {
        height: 70%;
        background-color: $Transparente;
        border: 0;
        overflow: scroll;
        #Productos {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 3vw;
    
            div {
                padding: 1vw;
                background-color: $Secundario;
            }
            p {
                font-size: 1.5vw;
            }
            b {
                color: $Primario;
                font-size: 1.2vw;
            }
            a {
                color: $Blanco;
                text-decoration: none;
            }
            img {
                width: 100%;
            }
        }
    }
    #modal1_code {
        width: 100%;
        height: 25%;
        background-color: $Rojo;
        margin-top:2%;

        #code {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: auto;
            img {
                display: flex;
                align-items: center;
                height: 95%;
                margin: auto;
            }
        }
    }
}
#modal1::backdrop {
    background-color:rgba(0, 0, 0, 0.700);
}
/*Fixed*/
#ag {
    position: fixed;
    margin: 15vh 0 0 2vw;
    text-align: center;
    font-size: 0.7rem;
    color: $Blanco;
    z-index: 150;
    button {
        background-color: $Transparente;
        border: 0; 
        img {
            width: 5rem;
        }
    }
}
/*Contenido*/
#int {
    margin: 0 1rem;
    text-decoration: none;
    color: $Blanco;
    height: 25rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $Secundario;
    padding: 1vw;

    video {
        width: 100%;
        position: absolute;
        height: inherit;
    }
    img {
        width: 15rem;
        animation: int_img 3s ease-in-out infinite;
    }
}
#info {
    margin: 0 1rem;
    background-color: $Secundario;
    text-align: center;
    padding: 1rem;
    height: 25rem;
    color: $Blanco;
    font-size: 1.7rem;
}
#serv {
    margin: 0 1rem;
    height: 25rem;
    text-align: center;
    background-color: $Secundario;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 2vw;

    div {
        margin: 0 2vw 0 1vw;
    }
    a {
        text-decoration: none;
        color: $Blanco;
    }
    h2 {
        grid-column: 1/5;
        color: $Blanco;
    }
    img {
        width: 70%;
        border-radius: 20%;
        padding: 0.3vw;
        border: 0.3rem solid $Blanco;
    }
}
#gale {
    position: relative;
    margin: 0 1rem;
    font-size: 2vw;
    padding: 2vw;
    text-decoration: none;
    color: $Blanco;
    background-color: $Secundario;
    height: 25rem;

    #gale_cont {
        width: 100%;
        position: absolute;
        top: 20%;
        text-align: center;
    }
    h2 {
        margin-bottom: 7vh;
    }
    a {
        transition: all 0.5s;
        text-decoration: none;
        color: $Blanco;
        background-color: $Primario;
        padding: 1.5rem;
        border-radius: 2rem;
    }
    a:hover {
        padding: 1.7rem;
    }
}
#cont {
    margin: 0 1rem;
    font-size: larger;
    padding: 1vh;
    text-decoration: none;
    color: $Blanco;
    background-color: $Secundario;
    height: 25rem;
    text-align: center;

    #cont_cont {
        width: 100%;
        position: absolute;
        top: 5%;
        left: -1%;
        text-align: center;
    }
    a {
        color: $Blanco;
        text-decoration: none;
    }
    .wa img {
        width: 20%;
        border-radius: 10vw;
    }
}
#redes {
    text-align: center;
    background-color: #ffffff49;
    a {
        margin: 0 2vw;
        font-size: 4vw;
        color: $Blanco;
        text-decoration: none;
    }
}
footer {
    text-align: center;
    margin: 6vh 0;
    a {
        color: $Blanco;
        text-decoration: none;
    }
}
#s1, #s2, #s3, #s4 {
    height: 10vh;
}
@media screen and (max-width: 500px) {
    #modal1 {
    width: 85vw;
    height: 85vh;

    #modal1_cont {
    #Productos {
        grid-template-columns: repeat(3,1fr);

        div {
            padding: 2vw;
        }
        p {
            font-size: 3.5vw;
        }
        b {
            font-size: 3.2vw;
        }
    }
    }
    #modal1_code {
        margin-top: 7%;

        #code {
            canvas {
                display: flex;
                align-items: center;
                height: 90%;
                margin: auto;
            }
        }
    }
    }
    #ag {
        position: fixed;
        margin-top: 10vh;
        text-align: center;
        font-size: 0.7rem;
        button {
            background-color: $Transparente;
            border: 0; 
            img {
                width: 15vw;
            }
        }
    }
    #int {
        height: 20rem;

    video {
        width: 85%;
    }
    img {
        width: 10rem;
    }
    }
    #info {
        font-size: 1.1rem;
        height: 35rem;
        #info_cont{
            margin-top: 35%;
        }
    }
    #serv {
        height: 35rem;
        grid-template-columns: repeat(2,1fr);

        a {
            font-size: 0.9rem;
        }
        h2 {
            grid-column: 1/3;
        }
        img {
            width: 100%;
            padding: 0.5vw;
            border: 0.2rem solid $Blanco;
        }
    }
    #gale {
    font-size: 5vw;
    height: 35rem;

    #gale_cont {
        left: 0%;
        top: 30%;
    }
    }
    #cont {
    height: 35rem;

    #cont_cont {
        top: 20%;
        left: -1%;
    }
    .wa img {
        width: 60%;
        border-radius: 10vw;
    }
    }
    #redes {
    a {
        font-size: 12vw;
    }
    } 
    #s1, #s2, #s3, #s4 {
        height: 8vh;
    }
}
@media screen and (max-height: 650px) {
    #modal1 {
        height: 85vh;

    #modal1_code {
        width: 100%;
        height: 25%;
        background-color: $Rojo;
        margin-top: 7%;

        #code {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            margin: auto;
            img {
                display: flex;
                align-items: center;
                height: 90%;
                margin: auto;
            }
        }
    }
 

    }
    #ag {
        margin-top: 10vh;
    }
    #int {
        height: 12rem;
        img {
            width: 40vw;
        }
    }
    #info {
        font-size: 1.1rem;
    }
    #cont {
        font-size: 1.1rem;
        img {
            width: 70%;
        }
    }
}