:root {
    --rojo: #ff4646;
    --amarillo: #f5c33a;
    --blanco: #ffffff;
}
html {
    background-color: var(--amarillo);
    color: var(--blanco);
    font-family: 'Fredoka One', cursive;
}
a {
    text-decoration: none;
    color: var(--blanco);
    transition: all 0.6s;
}
a:hover {
    color: var(--amarillo);
}
header img {
    display: block;
    margin: auto;
    margin-top: 5vh;
}
h1{
    text-align: center;
    margin-top: 0vh;
    font-size: 4vw;
}
nav {
    text-align: center;
}
nav a{
    background-color: var(--rojo);
    padding: 1%;
}
main section img {
    padding: 1.5%;
    background-color: var(--rojo);
}
.SOS{
    text-align: center;
    padding: 1.5%;
    background-color: var(--rojo);
}
form{
    text-align: center;
    background-color: var(--rojo);
    padding: 1.5%;
}
.Contactanos{
    text-align: center;
    padding: 1%;
    margin-top: 0.7%;
    background-color: var(--rojo);

}
.Contactanos h4 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.Contactanos .wa img {
    border-radius: 3vw;
    padding: 0;
}
.Contactanos .gmail img {
    border-radius: 3vw;
    padding: 0;
}
.SLES{
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    background-color: var(--rojo);
}
.SLES h2{
    font-size: 2rem;
    margin-top: -0.3%;
}
.SLES h3{
    font-size: 1.4rem;
}
@media screen and (max-width: 500px) {
    html {
        background-color: var(--amarillo);
        color: var(--blanco);
        font-family: 'Fredoka One', cursive;
    }
    a {
        text-decoration: none;
        color: var(--blanco);
        transition: all 0.6s;
    }
    a:hover {
        color: var(--amarillo);
    }
    header img {
        display: block;
        margin: auto;
        margin-top: 5vh;
    }
    h1{
        text-align: center;
        margin-top: 0vh;
        font-size: 15vw;
    }
    nav a{
        width: 55vw;
        height: 4vh;
        font-size: 1.3rem;
        border-radius: 2.5vw;
        padding-top: 1.5vh;
        padding-bottom: 1vh;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    main section img {
        width: 60vw;
        padding: 1.5%;
        background-color: var(--rojo);
    }
    .SOS{
        border-radius: 2.5vw;
        text-align: center;
        padding: 1.5%;
        background-color: var(--rojo);
        margin-bottom: 0.5vh;
    }
    form{
        text-align: center;
        background-color: var(--rojo);
        padding: 1.5%;
    }
    .Contactanos{
        border-radius: 2.5vw;
        text-align: center;
        padding: 4%;
        margin-top: 2%;
        background-color: var(--rojo);

    }
    .Contactanos .wa img {
        border-radius: 10vw;
    }
    .Contactanos .gmail img {
        border-radius: 10vw;
    }
    .SLES{
        border-radius: 2.5vw;
        text-align: center;
        padding: 4%;
        margin-top: 5%;
        background-color: var(--rojo);
    }
    .SLES h2{
        font-size: 2rem;
        margin-top: -0.3%;
    }
    .SLES h3{
        font-size: 1.7rem;
    }
    .SLES a{
        font-size: 1.2rem;
    }
}
