:root {
    --rojo: #ff4646;
    --amarillo: #f5c33a;
    --blanco: #ffffff;
}
html {
    background-color: var(--amarillo);
    color: var(--blanco);
    font-family: 'Fredoka One', cursive;
}
a {
    text-decoration: none;
    color: var(--blanco);
    transition: all 0.6s;
}
a:hover {
    color: var(--amarillo);
}
header img {
    display: block;
    margin: auto;
    margin-top: 5vh;
}
h1{
    text-align: center;
    margin-top: 0vh;
    font-size: 4vw;
}
nav {
    text-align: center;
}
nav a{
    background-color: var(--rojo);
    padding: 1%;
}
.M {
    margin-top: 5vh;
    text-align: center;
}
.B {
    margin-top:-0.5vh;
}
.I {
    margin-top:-2.8vh;
}
.C {
    margin-top:-2vh;
}
@media screen and (max-width: 500px) {
    html {
        background-color: var(--amarillo);
        color: var(--blanco);
        font-family: 'Fredoka One', cursive;
    }
    a {
        text-decoration: none;
        color: var(--blanco);
        transition: all 0.6s;
    }
    a:hover {
        color: var(--amarillo);
    }
    header img {
        display: block;
        margin: auto;
        margin-top: 5vh;
    }
    h1{
        text-align: center;
        margin-top: 0vh;
        font-size: 15vw;
    }
    nav a{
        width: 55vw;
        height: 4vh;
        font-size: 1.3rem;
        border-radius: 2.5vw;
        padding-top: 1.5vh;
        padding-bottom: 1vh;
        margin-top: 1vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    main section img {
        width: 70vw;
    }
    .B {
        margin-top:-0vh;
    }
    .I {
        margin-top:-3vh;
    }
    .M a img{
        width: 100vw;
    }
    .M h2 {
        font-size: 1.7rem;
    }
    .M .TDD {
        font-size: 1.4rem;
    }
}