* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", cursive;  
}

html,
body {
  height: 100%;
}

body {
  background: #90ebff;
  align-items: center;
  display: flex;
  justify-content: center;
}
nav {
  background-color: #ffffff;
  padding: 5%;
  margin-top: -65vh;
  margin-right: 85vw;
  position: fixed;
  border-radius: 50%;

  -webkit-box-shadow: 0px 0px 50px 50px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 50px 50px rgba(255,255,255,1);
  box-shadow: 0px 0px 50px 50px rgba(255,255,255,1);
}
nav a {
  font-size: 3vw;
  color: #000000;
}
@-webkit-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}