@import "../../variables";
// Shared
// -------------------------
.ih-item.square.effect10 {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    background-color: #00000000;
    &.colored {
        .info {
            background: $overlay_colored_fallback;

            h3 {
                background: $overlay_colored_dark;
            }
        }
    }

    .img {
        width: 100%;
        height: 100%;
        @include transition(  all .35s ease-in-out );
    }

    .info {
        background: $Secundario;
        visibility: hidden;
        opacity: 0;
        @include transition(  all .35s ease-in-out );

        h3 {
            font-family: $Letra;
            text-transform: uppercase;
            color: $Blanco;
            text-align: center;
            padding: 10px;
            background: $Primario;
            margin: 30px 0 0 0;
        }

        p {
            font-family: $Letra;
            position: relative;
            color: $Blanco;
            padding: 20px 20px 20px;
            text-align: center;
        }
    }

    a:hover {
        .info {
            visibility: visible;
            opacity: 1;
        }
    }
}

// -------------------------
.ih-item.square.effect10.left_to_right {
    .img {
        @include transform( translateX(0) );
    }

    .info {
        @include transform( translateX(-100%) );
    }

    a:hover {
        .img {
            @include transform( translateX(100%) );
        }

        .info {
            @include transform( translateX(0) );
        }
    }
}

// -------------------------
.ih-item.square.effect10.right_to_left {
    .img {
        @include transform( translateX(0) );
    }

    .info {
        @include transform( translateX(100%) );
    }

    a:hover {
        .img {
            @include transform( translateX(-100%) );
        }

        .info {
            @include transform( translateX(0) );
        }
    }
}


// -------------------------
.ih-item.square.effect10.top_to_bottom {
    .img {
        @include transform( translateY(0) );
    }

    .info {
        @include transform( translateY(-100%) );
    }

    a:hover {
        .img {
            @include transform( translateY(100%) );
        }

        .info {
            @include transform( translateY(0) );
        }
    }
}


// -------------------------
.ih-item.square.effect10.bottom_to_top {
    .img {
        @include transform( translateY(0) );
    }

    .info {
        @include transform( translateY(100%) );
    }

    a:hover {
        .img {
            @include transform( translateY(-100%) );
        }

        .info {
            @include transform( translateY(0) );
        }
    }
}

